@model List<productTask.Models.Database.product>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a class="btn btn-danger" href="/Product/Checkout">Checkout</a>
<table class="table table-condensed">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.id</td>
            <td>@p.name</td>
            <td>@p.description</td>
            <td>
                <a class="btn btn-info" href="/Product/Addtocart/@p.id">Add to cart</a>
            </td>

        </tr>
    }
</table>