
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<form action="/News/Add" method="post">
    <input type="text" placeholder="id" name="id"  />
    <input type="text" placeholder="title" name="title"/>
    <input type="text" placeholder="description" name="description"  />
    <input type="text" placeholder="catagory" name="catagory" />
    <input type="text" placeholder="publishdate" name="publishdate" />
    <input type="submit" value="Add" />
</form>
